<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>Servlet 3.0 Web Application</display-name>
	
	<!-- Créé la servlet qui récupère les requêtes HTTP et qui les associe à 
		des entry points situés dans les contrôleurs -->
	<servlet>
		<!-- Nom de la servlet. IMPORTANT car il est nécessaire d'avoir un fichier 
			de conf xml avec 'nom-servlet.xml' où sont précisés les beans -->
		<servlet-name>mvc-dispatcher</servlet-name>

		<!-- Classe de servlet basique de spring -->
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>

		<!-- facultatif, permet de préciser si la servlet est chargée directement 
			ou s'il est nécessaire qu'un appel sur un de ses contrôleur la crée -->
		<load-on-startup>1</load-on-startup>
	</servlet>

	<!-- Associe une servlet à une base d'url -->
	<servlet-mapping>
		<servlet-name>mvc-dispatcher</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<!-- Précise les fichiers de configuration du contexte de la servlet -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/mvc-dispatcher-servlet.xml /WEB-INF/hibernate.xml</param-value>
	</context-param>

	<!-- Je sais pas trop mais ça en a besoin, si tu veu te renseigner -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
</web-app>