<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="connection.driver_class">
			org.postgresql.Driver
		</property>
		<property name="connection.url">
			jdbc:postgresql://localhost:5432/lo53
		</property>
		<property name="connection.username">postgres</property>
		<property name="connection.password">postgres</property>
		<property name="connection.pool_size">1</property>

		<property name="dialect">
			org.hibernate.dialect.PostgreSQLDialect
		</property>
		<property name="current_session_context_class">thread</property>
		<property name="cache.provider_class">
			org.hibernate.cache.NoCacheProvider
		</property>
		<property name="hbm2ddl.auto">
			validate
		</property>
		<property name="show_sql">false</property>

		<mapping resource="model/Measurement.hbm.xml" />
		<mapping resource="model/Position.hbm.xml" />

	</session-factory>
</hibernate-configuration>